


/* ----------- Drop Menu ----------- */

#dropmenu {
	width: 80px;
	height: 80px;

	border-radius: 15px;
	background-color: var(--white-full);
	text-align: center;
	vertical-align: middle;
	font-size: 28px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0
		rgba(0, 0, 0, 0.19);
}
#dropmenu table {
	width: 100%;
	height: 100%;
}
#dropmenu i {
	color: var(--black-7);
}

#dropmenu:HOVER {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}

#dropmenu-container {
	width: 80px;
	position: fixed;
	right: 0px;
	
	margin: 30px 50px;
	text-align: center;
}

#dropmenu-item-container {
	width: 40px;
	visibility: hidden;
	
	margin: 0 auto;
	text-align: center;
}
#dropmenu-item-container i {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 28px;
	color: var(--black-7);
}
#dropmenu-item-container small {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 4px;
	color: var(--black-7);
}

#dropmenu-glow {
	position: absolute;
	font-size: 56px;
	visibility: hidden;
	z-index: -1;
	color: var(--white-full);
	
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}


/* Radial Menu */

* {
	--menu-radius: 120px;
	--icon-width: 28px;
}

#radmenu {
	
	width: var(--menu-radius);
	height: var(--menu-radius);
	border-radius: calc(var(--menu-radius) * 0.5);
	
	position: relative;
	bottom: 0;

	font-size: 28px;
	background-color: var(--white-full);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0
		rgba(0, 0, 0, 0.19);
}
#radmenu table {
	width: 100%;
	height: 50%;
}
#radmenu i {
	color: var(--black-7);
}

#radmenu:HOVER {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}

#radmenu-container {
	text-align: center;
	height: 60px;
	
	position: fixed;
	bottom: 0;
	left: calc(50% - var(--menu-radius) * 0.5);
	pointer-events: none;
	
	visibility: hidden;
}

#radmenu-item-container {
	width: var(--menu-radius);
	height: calc(var(--menu-radius) * 0.5);

	position: fixed;
	bottom: 0;
	left: calc(50% - var(--menu-radius) * 0.5);
	z-index: -5;
	visibility: hidden;
		
	border-top-left-radius: calc(var(--menu-radius) * 0.5);
	border-top-right-radius: calc(var(--menu-radius) * 0.5);
}
#radmenu-item-container i, #radmenu-item-container small {
	font-size: var(--icon-width);
	width: var(--icon-width);
	color: var(--white-7);
	
	position: fixed;
	bottom: 0;
	left: calc(50% - var(--icon-width) * 0.5);
	
	pointer-events: none;
}

#radmenu-item-container a {
	pointer-events: none;
}

#radmenu-item-container small {
	font-size: 4px;
	text-align: center;
}

#radmenu-glow {
	position: fixed;
	font-size: 56px;
	visibility: hidden;
	z-index: -6;
	color: var(--white-full);
	color: transparent;
	
	-webkit-filter: blur(10px);
	-moz-filter: url(blur.svg#blur);
	-ms-filter: url(blur.svg#blur);
	-o-filter: url(blur.svg#blur);
	filter: url(blur.svg#blur);
}


/* Info Bar */

#info-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	color: var(--white-full);
	background-color: var(--black-7);
	text-align: center;
	z-index: 20;
	visibility: hidden;
	
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0
		rgba(0, 0, 0, 0.19);
}

