
@font-face {
	font-family: Roboto;
	src: url('/css/Roboto-Regular.ttf');
}

@font-face {
	font-family: College;
	src: url('/css/college.ttf');
}

* {
	/* Variables */
	--color-500: #2196F3;
	--color-300: #64B5F6;
	--color-700: #1976D2;
	
	--accent-400: #FFC400;
	--accent-700: #FFAB00;
	
	--feedback-400: #00E676;
	--feedback-550: #00D764;
	--feedback-700: #00C853;
	
	--negative-500: #F44336;
	--negative-600: #E53935;
	
	--black-full: #000;
	--black-9: rgba(0, 0, 0, 0.9);
	--black-7: rgba(0, 0, 0, 0.7);
	--black-5: rgba(0, 0, 0, 0.5);
	--black-3: rgba(0, 0, 0, 0.3);
	--black-1: rgba(0, 0, 0, 0.1);
	
	--white-full: #FFF;
	--white-7: rgba(255, 255, 255, 0.7);
	--white-5: rgba(255, 255, 255, 0.5);
	--white-3: rgba(255, 255, 255, 0.3);
	--white-1: rgba(255, 255, 255, 0.1);
	
	
	padding: 0px;
	margin: 0px;
	color: var(--black-7);
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
*:FOCUS {
	outline: none;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: var(--color-300);
	margin: 0px 0px 30px;
	
	background: linear-gradient(rgba(0,0,0,0), var(--color-700)); /* Standard syntax */
	background-color: var(--color-300);
}

td { vertical-align: middle; }

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	border-bottom: 2px solid var(--white-full);
	padding-bottom: 8px;
	color: var(--white-full);
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.content-pane small {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: var(--white-7);
	text-align: center;
	display: inline-block;
	font-weight: normal;
	padding-top: 8px;
	width: 50%;
}

.link {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
}

.link:HOVER {
	text-decoration: underline;
}

.spanspace {
	padding: 0 3px;
}

.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
	background-color: var(--white-full);
	margin: 30px;
	padding: 40px;
	display: inline-block;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0
		rgba(0, 0, 0, 0.19);
}

.card h2 {
	color: var(--black-7);
	border-color: var(--black-7);
	margin: 0;
}

/* ----------- Header ----------- */

#header {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 10;
	
	background-color: var(--black-5);
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19)
}

#header-table {
	width: 100%;
	height: 100%;
}

#logo {
	height: 80px;
	margin-left: 20px;
}


/* Content Styles */

.content-pane {
	margin: 0 auto;
	text-align: center;
	visibility: hidden;
}

.content-pane h1 {
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-align: center;
	color: var(--white-full);
	display: inline-block;
	
	padding-bottom: 12px;
	border-bottom: 4px solid var(--white-full);
}

.content-pane p {
	color: var(--white-5);
	margin: 10px auto;
	width: 50%;
	font-size: 14px;
	line-height: 18px;
}



/* Form Styles */

.form input {
	margin-top: 8px;
	padding: 10px;
	border: 2px solid var(--white-full);
	background-color: var(--white-1);
	color: var(--white-full);
}

.form input[type=submit] {
	background-color: var(--black-5);
	color: var(--white-full);
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
	
	--webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19)
}
.form input[type=submit]:HOVER {
	background-color: var(--black-7);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0
		rgba(0, 0, 0, 0.19);
}

.form input[type=radio] {
	display: none;
}
.form input[type=radio] + label {
	padding: 0;
}
.form input[type=radio] + label span {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
	margin: 6px;
	
	border-radius: 19px;
	border: 4px solid var(--white-full);
	--webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.form input[type=radio]:checked + label span {
	background-color: var(--black-5);
}

.form label {
	color: var(--white-7);
	padding: 40px 20px;
}

::-webkit-input-placeholder {
	color: var(--white-7);
	opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
	color: var(--white-7);
	opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: var(--white-7);
	opacity: 1;
}
:-ms-input-placeholder {  
	color: var(--white-7);
	opacity: 1;
}

/* Index Transitions */

#index-content p {
	display: none;
}

/* Signup Styles */

.columns {
	-moz-column-count: 3;
	-moz-column-gap: 33%;
	-webkit-column-count: 3;
	-webkit-column-gap: 33%;
	column-count: 3;
	column-gap: 33%;
}

.swiper-slide-box {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
}

.bottom-banner {
	position: fixed;
	width: 100%;
	height: 60px;
	left: 0;
	bottom: 0;
	text-align: center;
	
	border: none;
	visibility: hidden;
	vertical-align: middle;
	cursor: pointer;
	z-index: 20;
	
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0
		rgba(0, 0, 0, 0.19);
	--webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.bottom-banner:HOVER {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}
.bottom-banner table {
	width: 100%;
	height: 100%;
}
.bottom-banner * {
	color: var(--white-full);
	font-size: 22px;
}
.bottom-banner td {
	font-family: 'Oswald', sans-serif;
}

#signup-submit {
	background-color: var(--feedback-400);
}
#signup-submit:HOVER {
	background-color: var(--feedback-550);
}
#signup-deny {
	background-color: var(--negative-500);
}
#signup-deny:HOVER {
	background-color: var(--negative-600);
}


/* Pass Styles */

#pass-container {
	width: 50%;
	background-color: var(--black-1);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 3px 10px
		rgba(0, 0, 0, 0.19);
	display: inline-block;
	z-index: 50;
}

.pass-slide-wrapper {
	margin: 30px;
	padding: 40px;
	background-color: var(--white-full);
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0
		rgba(0, 0, 0, 0.19);
}

.pass-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(/img/pass_watermark.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	opacity: 0.05;
}

.pass-slide-wrapper h2 {
	color: var(--black-7);
	border: none;
	padding: 0;
	margin: 0;
}

.pass-slide-wrapper p {
	color: var(--black-5);
	padding: 0;
	margin: 0;
	width: auto;
}

.pass-slide-wrapper small {
	color: var(--black-7);
	padding: 0;
	margin: 0;
	margin-top: 40px;
}

#pass-save-button {
	background-color: var(--feedback-400);
	padding: 10px 30px;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
	
	color: var(--white-full);
	border-radius: 3px;
	--webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}

#pass-save-button:HOVER {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0
		rgba(0, 0, 0, 0.19);
	background-color: var(--feedback-550);
}

#pass-save-button i {
	color: var(--white-full);
	margin-right: 5px;
}

#pass-delete-button {
	background-color: var(--negative-500);
	padding: 10px 30px;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
	
	color: var(--white-full);
	border-radius: 3px;
	--webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}

#pass-delete-button:HOVER {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0
		rgba(0, 0, 0, 0.19);
	background-color: var(--negative-600);
}

#pass-delete-button i {
	color: var(--white-full);
	margin-right: 5px;
}

#no-signups {
	border: none;
	padding: 0;
	margin-top: 20px;
}

/* Settings Styles */

#settings-aboutme {
	width: 40%;
	padding-left: 0;
	padding-right: 0;
}

#settings-aboutme table {
	width: 100%;
	table-layout: fixed;
}

#settings-aboutme td:FIRST-CHILD {
	text-align: right;
}

#settings-aboutme td:not(:FIRST-CHILD) {
	text-align: left;
}

#settings-content input {
	padding: 8px;
	border: none;
	background-color: transparent;
	color: var(--black-7);
}

#settings-content input[type=submit] {
	background-color: var(--black-7);
	color: var(--white-full);
	border: none;
	border-radius: 3px;
	padding: 10px 15px;
	
	--webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
}
#settings-content input[type=submit]:HOVER {
	background-color: var(--black-9);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0
		rgba(0, 0, 0, 0.19);
}

#settings-students {
	width: 35%;
}

#settings-students ul {
	width: 60%;
	height: 100px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0 auto;
	background-color: var(--black-1);
	padding: 10px;
}

#settings-students p {
	color: var(--black-7)
}

#watermark {
	position: absolute;
	bottom: 0;
	margin: 20px;
}
